.loading-box {
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	inset: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(1px);
	z-index: 10000;

	&.active {
		display: flex;
	}
}
.loading-circle {
	fill: none;
	stroke: var(--accent);
	stroke-width: 10;
	stroke-linecap: round;
	stroke-dasharray: 251;
	stroke-dashoffset: 150;
	animation: spin 1.3s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		transform-origin: center;
	}
	100% {
		transform: rotate(360deg);
		transform-origin: center;
	}
}
