* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--main-color: #0c131d;
	--header-height: 10rem;
	--main-padding: 2em 4em;
	--card-padding: 4em 3em;
	--components-main-color: #a0a0b2;
	--accent: #7c3aed;
	--card-color: #161a26;
	--card-radius: 10px;
	--title-color: #dedbdb;
	--container-padding: 4em;
}
html {
	font-size: 62.5%;
}
body {
	height: 100vh;
	display: grid;
	grid-template-rows: var(--header-height) 1fr;
	grid-template-columns: 250px 1fr;
	font-family: "Montserrat", sans-serif;
	background-color: var(--main-color);
}
.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-row: 1 / 2;
	grid-column: 1 / -1;
	padding: var(--main-padding);
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	background-color: var(--main-color);

	&__logo {
		text-decoration: none;
		color: var(--components-main-color);
		font-weight: 600;
		font-size: 2.6rem;
		vertical-align: middle;

		i {
			font-size: 2.5rem;
			margin-inline-end: 0.1em;
			color: var(--accent);
		}
	}
	&__panel {
		display: flex;
		align-items: center;
		gap: 2em;
	}
	&__pro-subscribtion-btn {
		position: relative;
		width: 14rem;
		padding: 1em 2em;
		border-radius: 30px;
		border: none;
		font-family: inherit;
		cursor: pointer;
		color: #fff;
		background: linear-gradient(90deg, #8b5cf6, #ec4899, #f97316);
		font-weight: 600;
		font-size: 1.3rem;

		i {
			color: gold;
			margin-inline-end: 0.3em;
		}
		&:hover::before {
			opacity: 0.5;
		}

		&::before {
			content: "";
			position: absolute;
			inset: -1px;
			background: linear-gradient(90deg, #8b5cf6, #ec4899, #f97316);
			z-index: -1;
			border-radius: inherit;
			filter: blur(10px);
			opacity: 0.25;
			transition: opacity 0.3s;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em;
		border: none;
		width: 37px;
		height: 37px;
		background: none;
		color: var(--components-main-color);
		font-size: 2rem;
		cursor: pointer;

		i {
			transition: color 0.3s;
		}
		&:hover {
			color: var(--accent);
		}
		&--user {
			position: relative;
			background: linear-gradient(135deg, #4f46e5, #9333ea);
			border-radius: 50%;
			font-size: 1.6rem;
			overflow: hidden;
			color: #c2c2d6;

			&:hover {
				color: #dfdfeb;
			}
			&:hover::before {
				animation: shineAnimation 0.4s 0.1s forwards;
			}
			&::before {
				content: "";
				position: absolute;
				top: 1em;
				left: -100%;
				width: 100%;
				height: 150%;
				rotate: -45deg;
				background: linear-gradient(
					90deg,
					transparent,
					rgba(255, 255, 255, 0.2),
					transparent
				);
			}
		}
	}
}

.aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: fixed;
	width: 250px;
	top: var(--header-height);
	height: calc(100vh - var(--header-height));
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	border-right: 1px solid rgba(255, 255, 255, 0.05);
	background-color: var(--main-color);

	&__user-box {
		padding: 1em 1.5em;
		display: flex;
		align-items: center;
		color: var(--components-main-color);
		border-top: 1px solid rgba(255, 255, 255, 0.05);
	}
	&__user {
		display: grid;
		place-items: center;
		font-size: 1.2rem;
		background-color: var(--accent);
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 1px solid rgba(167, 139, 250, 0.4);
	}
	&__user-info {
		margin-inline-start: 1.3em;
	}
	&__user-name {
		font-size: 1.15rem;
		font-weight: 600;
	}
	&__user-location {
		margin-block-start: 0.3em;
		font-size: 1.05rem;
		opacity: 0.8;
	}
	&__user-plan-status {
		position: relative;
		margin-inline-start: auto;
		font-size: 1.1rem;
		background: rgba(124, 58, 237, 0.4);
		border: 1px solid rgba(167, 139, 250, 0.4);
		color: #f5eaff;
		padding: 0.3em 0.6em;
		border-radius: 3px;
		pointer-events: none;
	}
}
.nav {
	&__links {
		list-style: none;
		margin-block-end: 5em;
	}
	&__li {
		display: flex;
		align-items: center;
	}
	&__link {
		display: flex;
		align-items: center;
		width: 90%;
		padding: 0.8em 2em;
		text-decoration: none;
		color: var(--components-main-color);
		font-size: 2rem;
		vertical-align: middle;
		font-weight: 300;
		transition: color 0.3s, transform 0.3s;

		&:hover,
		&.active {
			color: var(--accent);
			transform: translateX(5px);
		}

		i {
			font-size: 1.6rem;
			margin-inline-end: 0.8em;
		}
	}
}

main {
	grid-row: 2 / -1;
	grid-column: 2 / -1;
}
.container {
	padding: var(--container-padding);
	display: grid;
	width: min(100%, 137rem);
	margin: 0 auto;
	grid-auto-columns: 1fr;
	grid-template-areas:
		"statistics statistics ring"
		"earnings sales activity"
		"report report activity";
	gap: 2em;
}
.title {
	font-weight: 500;
	color: var(--title-color);
	font-size: 2rem;
}
.statistics {
	grid-area: statistics;
	padding: var(--card-padding);
	border-radius: var(--card-radius);
	background-color: var(--card-color);

	&__title {
		margin-block-end: 2em;
	}
	&__chart {
		width: min(100%, 700px);
		display: flex;
		align-items: flex-end;
		justify-content: space-evenly;
		color: var(--components-main-color);
	}
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5em;
	}
	&__column {
		width: 25px;
		height: 150px;
		background-color: var(--components-main-color);
		opacity: 0.2;
		border-radius: 2px;
		transition: opacity 0.6s, height 0.6s;

		&:hover {
			opacity: 0.35;
		}
	}
	&__month {
		font-size: 1.2rem;
	}
	&__tooltip {
		padding: 0.4em;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(5px);
		font-size: 1.4rem;
		border-radius: 5px;
		transition: opacity 0.5s 0.2s;
		white-space: nowrap;
		pointer-events: none;
	}
}
.progress-ring {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--card-color);
	border-radius: var(--card-radius);
}
.progress-ring__bg {
	fill: none;
	stroke: #333;
	stroke-width: 6;
}

.progress-ring__progress,
.progress-ring__progress-bg {
	fill: none;
	stroke: url(#grad1);
	stroke-width: 0;
	stroke-linecap: round;
	stroke-dasharray: 314;
	stroke-dashoffset: 314;
	transition: stroke-dashoffset 2s ease-in-out;
}
.progress-ring__progress-bg {
	filter: blur(3px);
	opacity: 0.6;
}
.progress-text {
	font-size: 1rem;
	fill: #fff;
	font-weight: bold;

	tspan:last-child {
		font-weight: 500;
		color: var(--components-main-color);
	}
}

.earnings,
.sales {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--card-padding);
	background-color: var(--card-color);
	border-radius: var(--card-radius);
	&__title {
		margin-block-end: 0.5em;
	}
	&__price {
		color: var(--title-color);
		font-size: 3.6rem;
		font-weight: 500;
	}
}
.earnings {
	grid-area: earnings;
}
.sales {
	grid-area: sales;
}
.circle {
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: #ffffff9a;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: fade 0.3s;
}
.activity {
	grid-area: activity;
	padding: var(--card-padding);
	border-radius: var(--card-radius);
	background-color: var(--card-color);
	&__title {
		margin-block-end: 0.5em;
	}
	&__list {
		padding: 0 2em;
	}
	&__li {
		padding: 0.5em 0;
		color: var(--title-color);
		opacity: 0.85;
		font-size: 1.5rem;
		transition: opacity 0.6s;

		&:hover {
			opacity: 1;
		}
		&:hover::marker {
			color: rgba(255, 255, 255, 0.4);
		}

		&::marker {
			color: rgba(255, 255, 255, 0.2);
			font-size: 2rem;
			transition: color 0.6s;
		}
	}
}

.report {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	grid-area: report;
	padding: var(--card-padding);
	border-radius: var(--card-radius);
	background: linear-gradient(135deg, #4f46e5, #9333ea);

	&__title,
	&__text {
		color: #fff;
	}
	&__title {
		font-size: 2rem;

		i {
			margin-inline-start: 0.3em;
			font-size: 2.6rem;
			vertical-align: middle;
		}
	}
	&__text {
		margin: 1em 0 1.5em;
		font-size: 1.6rem;
	}
	&__btn {
		position: relative;
		padding: 1em 2em;
		background-color: #fff;
		color: #4f46e5;
		font-family: inherit;
		font-weight: 700;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		border: 2px solid transparent;
		transition: color 0.5s, background-color 0.5s, border-color 0.5s,
			transform 0.3s;
		overflow: hidden;

		&:hover {
			color: #fff;
			background: none;
			border-color: #fff;
		}
		&:active {
			transform: scale(0.98);
		}
	}
}

@keyframes shineAnimation {
	from {
		left: -100%;
		top: 1em;
	}
	to {
		top: -1.5em;
		left: 100%;
	}
}

@keyframes fade {
	to {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0;
	}
}
